body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.inputs-container {
  direction: row;
  display: flex;
  justify-content: center;
}

.inputs-container > * {
  margin-right: 1rem;
}

.ideas-output-container {
  border: 1px solid #000;
  margin: 3rem auto;
  width: 80vw;
}

.total-ideas-message {
  font-weight: 700;
  margin-top: 1.3rem;
}
